.movie-search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  margin: auto;
}

.movie-search-input {
  height: 40px;
  min-width: 520px;
  font-size: 18px;
  padding: 5px;
  border: none;
}

.movie-search-btn {
  background-color: #0bf0be;
  border: none;
  height: 45px;
  min-width: 200px;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 7px;
  font-weight: 500;
  color: #094739;
  transition: 0.2s;
}

.movie-search-btn:hover {
  background-color: #40d7da;
}
